<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   

 <!--  namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致 -->
  
  <mapper namespace="com.java1234.mappers.UserMapper">
  	<insert id="insert" parameterType="com.java1234.model.User" useGeneratedKeys="true">
  		insert into co_user(id,password) values(#{id},#{password})
  	</insert>
  	
  	<update id="update" parameterType="com.java1234.model.User">
  		update co_user set password=#{password} where id=#{id}
  	</update>
  	
  	<select id="findUserById" parameterType="String" resultType="com.java1234.model.User">
  		select * from co_user where id=#{id}	
  	</select>
  	
  	<delete id="delete" parameterType="String">
  		delete from co_user where id=#{id}
  	</delete>
  	
  	<select id="findAllUsers" resultType="com.java1234.model.User">
  		select * from co_user;
  	</select>
  	
  	<select id="findOneUser" parameterType="String" resultType="int">
  		select count(*) from co_user where id=#{id} and password=#{password};
  	</select>
  	
  	
  </mapper>